{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="description"
              content="A brief description of your web page goes here.">
        <meta name="keywords" content="keyword1, keyword2, keyword3">
        <title>
            {% block title %}My Site{% endblock %}
        </title>
        {% block cdns %}
            <script src="https://unpkg.com/htmx.org@1.9.10"
                    integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
                    crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.7.1.slim.js"
                    integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc="
                    crossorigin="anonymous"></script>
            <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
                  rel="stylesheet" />
            <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        {% endblock %}
        {% block extra_css %}{% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
        {% block extra_js %}
            <script src="{% static 'js/init_select2.js' %}"></script>
            <script src="{% static 'js/main.js' %}"></script>
        {% endblock %}
    </body>
</html>
