<td>{{ operating_schedule.start_time }}</td>
<td>{{ operating_schedule.end_time }}</td>
<td>{{ operating_schedule.location.name }}</td>
<td>
    <form hx-post="{% url 'operating_schedules_load' operating_schedule.id duty_cycle.id %}"
          hx-trigger="select2Change">
        {{ operating_schedule.form.operating_loads }}
    </form>
</td>
<td>
    <form hx-delete="{% url 'delete_operating_schedules' duty_cycle.id operating_schedule.id %}"
          hx-target="#operating_schedules_form"
          hx-confirm="Are you sure you want to delete this schedule?"
          hx-on::after-request="$(this).closest('tr').remove();">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</td>
